# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
pids
*.pid
*.seed
*.info

# Directory for executable binaries
bin/

# Webpack build output directory
# This is a common name, but check your webpack.config.js for the exact output path.
/dist
/build

# Dependency directories
node_modules/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Caches
.cache/

# Temporary files
tmp/

# Test reports
/coverage